<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.GpsHeatVinMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.GpsHeatVin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="cnt" property="cnt" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getGpsHeatVin" resultMap="BaseResultMap" >
    select * from gps_heat_vin where veh_series = #{vehSeries} and vin = #{vin}
  </select>
</mapper>