<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.UseBeamVinMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.UseBeamVin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="hibeam" property="hibeam" jdbcType="VARCHAR" />
    <result column="lowbeam" property="lowbeam" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="VARCHAR" />
    <result column="road" property="road" jdbcType="VARCHAR" />
  </resultMap>
 <select id="getUseBeamVin" resultMap="BaseResultMap">
   select * from use_beam_vin where vin = #{vin}  and veh_series = #{vehSeries}
 </select>
</mapper>