<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.UseEngspdVinWkMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.UseEngspdVinWk" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="mth_wk" property="mthWk" jdbcType="VARCHAR" />
    <result column="agr_engSpd" property="agrEngspd" jdbcType="VARCHAR" />
    <result column="cnt" property="cnt" jdbcType="VARCHAR" />
    <result column="avgvhlspd_km_h" property="avgvhlspdKmH" jdbcType="VARCHAR" />
    <result column="idling" property="idling" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getUseEngspdVinWk"  resultMap="BaseResultMap">
    select * from use_engspd_vin_wk  where vin = #{vin} and `mth_wk` = #{time} and veh_series = #{vehSeries}
  </select>
</mapper>