<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.useEngspdMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.useEngspd" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="mth_week" property="mthWeek" jdbcType="VARCHAR" />
    <result column="agr_EngSpd" property="agrEngspd" jdbcType="VARCHAR" />
    <result column="cnt" property="cnt" jdbcType="VARCHAR" />
    <result column="avgVhlSpd_km_h" property="avgvhlspdKmH" jdbcType="VARCHAR" />
    <result column="idling" property="idling" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getuseEngspdDate" resultMap="BaseResultMap">
    select * from use_engspd
    where 1=1
    <if test="vehSeries != null and vehSeries != ''" >
      and veh_series = #{vehSeries}
    </if>
    <if test="vin != null and vin != ''" >
      and vin = #{vin}
    </if>
    <if test="day != null and day != ''" >
      and `day` = #{day}
    </if>
    <if test="week != null and week !=''">
      and `mth_week` = #{week}
    </if>
  </select>
</mapper>