<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.UseRoadSubMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.UseRoadSub" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="road" property="road" jdbcType="VARCHAR" />
    <result column="avgvhlspd_km_h" property="avgvhlspdKmH" jdbcType="VARCHAR" />
    <result column="mileage_wkm" property="mileageWkm" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getUseRoadAll" resultMap="BaseResultMap">
    select * from use_road_sub where veh_series = #{vehSeries}
  </select>
</mapper>