<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.rdate.mapper.UseTrpdtVinMapper" >
  <resultMap id="BaseResultMap" type="com.smart.rdate.entity.UseTrpdtVin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="veh_series" property="vehSeries" jdbcType="VARCHAR" />
    <result column="vin" property="vin" jdbcType="VARCHAR" />
    <result column="mth_wk" property="mthWk" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="INTEGER" />
    <result column="avgtrptime_min" property="avgtrptimeMin" jdbcType="VARCHAR" />
    <result column="avgtrpodo_km" property="avgtrpodoKm" jdbcType="VARCHAR" />
    <result column="avg_maxvhlspd_km_h" property="avgMaxvhlspdKmH" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getUseTrpdtVin" resultMap="BaseResultMap">
    select * from use_trpdt_vin where  veh_series = #{vehSeries} and vin = #{vin}
    </select>
  <select id="getUseTrpdtVinWk" resultMap="BaseResultMap">
    select * from use_trpdt_vin where veh_series = #{vehSeries} and vin = #{vin} and mth_wk =#{time}
  </select>
  <select id="getUseTrpdtVinDay" resultMap="BaseResultMap">
    select * from use_trpdt_vin where veh_series = #{vehSeries} and vin = #{vin} and `day` =#{time}
  </select>
  <select id="getUseTrpdtVinDate" resultMap="BaseResultMap">
    select * from use_trpdt_vin where veh_series = #{vehSeries} and vin = #{vin} and `date` =#{time}
  </select>
</mapper>